<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>Bartosz Król - <%= section %></title>
        <%- include ("../struct/meta.ejs") %>
        <%- include ("../struct/fonts.ejs") %>
        <%- include ("../struct/js.ejs") %>
        <link rel="stylesheet" type="text/css" href="/public/css/home.css" async >
    </head>
</html>
<body>
    <div class="top">
        <div class="name">Bartosz Król</div>
        <div class="description">Programmer</div>
    </div>
    <main id="main">
        <div class="menu">
            <div class="buttons">
                <a href="/" class="button<%= section == "home" ? " active" : "" %>">Home</a>
                <a href="/projects" class="button<%= section == "projects" ? " active" : "" %>">Projects</a>
                <a href="/contact" class="button<%= section == "contact" ? " active" : "" %>">Contact</a>
                <!-- <a href="/blog" class="button<%= section == "blog" ? " active" : "" %>">Blog</a> -->
            </div>
        </div>
    </main>
    <%- include (`./${section.toLowerCase()}.ejs`) %>
</body>