<div class="projects">
<% for (project of projects) { %>
    <div class="project">
        <span class="name"><%=project.name%></span><br>
        <div class="links">
            <% project.links.forEach((link, i) => { %>
                <a target="_blank" class="link" href="<%=link.link%>"><%=link.name%></a><% if (i < project.links.length - 1 ) {%> | <% } %> 
            <% }) %>
        </div>
        <span class="description"><%-project.description%></span>
        <img src="/public/images/projects/<%=project.image%>" class="image">
        <% if (project.with) { %>
            <div class="with">
                <span class="text">with</span>
                <% project.with.forEach((who, i) => { %>
                    <a target="_blank" class="link" href="<%=who.link%>"><%=who.name%></a><% if (i < project.with.length - 1 ) {%> & <% } %>        
                <% }) %>
            </div>
        <% } %>
    </div>
    <hr class="break"></hr>
<% } %>
</div>